-# = form.send field.view_helper, field.method_name, field._html_attributes
- transitions = form.object.send(field.association)
- transitions = transitions.order(created_at: :desc)
- transitions = transitions.limit(field.limit) if field.limit

%table.table.table-condensed
  %tr
    %th Event
    %th To state
    - field.context.each do |context|
      %th= context.to_s.humanize
    %th Ocurred at
  - transitions.each_with_index do |t, i|
    %tr
      %th= t.event
      %td{ class: ("info" if i.zero?) }= t.to
      - field.context.each do |context|
        %td
          %div{ style: "white-space: normal; max-height: 38px; overflow-y: scroll" }= t.send(context)
      %td= t.created_at
